<launch>
  <arg name="exec_time" default="0"/>
  <include file="$(find pr2_description)/robots/upload_pr2.launch"/>
  <rosparam command="load" file="$(find pr2_cartesian_controllers)/config/controller_config.yaml"/>
  <node name="ects_sim" pkg="pr2_algorithms" type="test_bed_ects" args="$(arg exec_time)" output="screen">
    <rosparam param="left_arm_pose">[0.6, 0.0, 1.2, 1.5, -1.81, 1.35, 0.74]</rosparam>
    <rosparam param="right_arm_pose">[-0.6, 0.0, -1.2, -1.5, -1.81, -1.35, 0.74]</rosparam>
  </node>
</launch>
