<launch>
  <!-- <node pkg="pr2_controller_manager" type="spawner" args="pr2_controller" name="pr2_controller_spawner" /> -->
  <include file="$(find pr2_cartesian_controllers)/launch/pr2_cartesian_controllers.launch"/>
  <rosparam command="load" file="$(find pr2_joint_position_controllers)/config/controller_config.yaml"/>
</launch>
